# Cache files
__pycache__/
.pyc
.DS_Store

# Text editor remnants
.vscode/
.vs/
.idea/

# Project-specific ignores
build/
expected/
docs/doxygen/
*.z64
*.n64
*.v64

# Tools
.venv/
tools/disasm/output/*
ctx.c
tools/*dSYM/
graphs/

# Assets
.extracted-assets.json
extracted/

# Docs
!docs/tutorial/

# Per-user configuration
# Use `git config core.excludesFile path/to/my_gitignore_file`
# if you want to use your own gitignore rules without modifying this file.
