<Root>
    <SymbolMap File="SymbolMap.txt"/>
    <ActorList File="../ActorList.txt"/>
    <ObjectList File="../ObjectList.txt"/>
    <EntranceList File="../EntranceList.txt"/>
    <SpecialEntranceList File="../SpecialEntranceList.txt"/>
    <EnumData File="../EnumData.xml"/>
    <ExternalXMLFolder Path="assets/xml/"/>
    <ExternalFile XmlPath="objects/gameplay_keep_pal.xml" OutPath="assets/objects/gameplay_keep/"/>
</Root>
